{% extends '::layout.html.twig' %}

{% block content -%}
<div class="panel panel-primary">
  <div class="panel-heading">Incidencia # {{ entity.id }}</div>
  <table class="table">
        <tbody>
            <tr>
                <th>Cédula</th>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Incidencia</th>
                <td>{{ entity.incidencia }}</td>
            </tr>
            <tr>
                <th>Motivo</th>
                <td>{{ entity.motivo }}</td>
            </tr>
            <tr>
                <th>Solución</th>
                <td>{{ entity.solucion }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="well">
    <form action="{{ path('incidencia_delete', { 'id': entity.id }) }}" class="form-inline" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <a class="btn btn-primary" href="{{ path('incidencia') }}">
            <span class="glyphicon glyphicon-list"></span> Listado
        </a>
        <a class="btn btn-primary" href="{{ path('incidencia_edit', { 'id': entity.id }) }}">
            <span class="glyphicon glyphicon-edit"></span> Editar
        </a>
        <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
    </form>
</div>
{% endblock %}
